
.navbar-helpie {
    background:#fafafe;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.22);
}

.navbar-brand img {
    max-height:54px;
}

li a img{
    display: inline-block;
    margin-right: 150px;
    margin-left: 1px;
    margin-top: 15px;
    
}

.nav-item a {
    color: rgba(236, 21, 80, 1) !important;
    text-transform: uppercase;
    font-family:'PantonBlack',sans-serif !important;
    text-transform: uppercase;
    width: auto;
    height: auto;
    display: inline-block;
    opacity: 1 !important;
    font-size:16px;
    line-height: 16px;
  }

.baixar-app-popup  {
    margin-top:20px;
    cursor: pointer;
}

@media (min-width: 768px) {
.nav-item a {    
    padding: 7px 14px !important;
    margin: 0 10px;
    background: #575859;
    color: #FFF !important;
    text-align: center;
    border-radius: 90px;
    font-size: 12px;
    right: 10px;
}

.nav-item a:hover{
    color: #FFF !important;
    text-decoration: none;
    background: rgb(141, 141, 141);
}

.baixar-app-popup{
    background: #ec1550 !important;
    margin-top: 0;    
}

.baixar-app-popup:hover{
    background: #ee4071 !important;    
}

}
.visible-title {
    visibility: visible;

}
