/* Esconde o Menu do topo */
.navbar-helpie {
    display:none;
}
/* /Esconde o Menu do topo */
.logado {
    width: 100%;
    /*margin-top: 80px;*/
    margin-top: -1px;
    text-align: center;
}

.main-login {
    padding:0 !important;
}

.Logo{
    padding: 15px 0px;
    height: 85%;
}

.menu-logado {
    background:#fff;
    -webkit-box-shadow: 3px 0px 10px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 3px 0px 10px 1px rgba(0,0,0,0.2);
    box-shadow: 3px 0px 10px 1px rgba(0,0,0,0.2);
    z-index: 3;
    padding:0 !important;
    text-transform: uppercase;
}

.menu-logado .list-group-item {
    background:none;
    border:none;
    border-bottom:solid 1px #fff;
    border-color:rgba(0, 0, 0, 0.1) !important;
    padding:.75rem;
    font-family: 'PantonLight', sans-serif !important;
    text-transform: uppercase;
}

.menu-logado .list-group-item:first-child {
    border-top-left-radius: 0rem !important;
    border-top-right-radius: 0rem !important;
}

.menu-logado .list-group-item:last-child {
    border-bottom-right-radius:0rem !important;
    border-bottom-left-radius:0rem !important;
}

.menu-logado .list-group a {
    color:#fff;
}

.header-section-login {
    width:100%;
    height:100%;
    padding:30px 0;
}

.title-table{
    color:#868686;
    font-weight: 700;
}


.table th  {
    border-top: none !important;
}
.content-tables {
    padding: 20px;
    background:#fff;
    color:#464646;
}

.content-tables table {
    background:#fff;
    
}

.table-hover tbody tr:hover {
    background:#696969 !important;
    color:#fff;
}

.table-hover tbody tr:hover .notification-icon {
    -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.3);
}

.home{
    width: 100%;
}
